body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #4a90e2, #f9e300);
  margin: 0;
}

.container {
  width: 80%;
  max-width: 400px;
  padding: 30px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.9); /* Transparent white background */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); /* Adjusted shadow */
}

h1 {
  color: #333;
  margin-top: 0;
}

#birthdayInput {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  width: calc(100% - 20px); /* Subtract padding */
  font-size: 16px;
  outline: none;
}

#calculateBtn {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

#calculateBtn:hover {
  background-color: #45a049;
}

#countdown {
  font-size: 1.5em;
  margin-top: 20px;
}
